@model EditProductViewModel
@{
    ViewBag.Title = "Edit";

    var ImageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "Content/images/system/placeholder-image.png";

    //var trueChecked = Model.IsFeatured ? "Checked" : string.Empty;
    //var falseChecked = !Model.IsFeatured ? "Checked" : string.Empty;
}

<h2>Edit</h2>

    
        <form id="editProduct">
            <input type="hidden" name="ID" value="@Model.ID" />

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="CategoryID">
                            @foreach (var category in Model.AvailableCategories)
                             {
                                var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;

                                <option value="@category.ID" @selected>@category.Name</option>
                             }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="Name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="Description" value="@Model.Description" />
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" name="Price" value="@Model.Price" />
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input id="ImageURL" name="ImageURL" type="hidden"/>
                        <input class="form-control" id="imaupload" name="Image" type="file" accept=".png,.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <img class="img-thumbnail img-fluid" id="productImage"src="@ImageURL" />
                    </div>
                </div>
            </div>

            <button id="UpdateBtn" type="button"class="btn btn-primary">Update</button>
        </form>
    


<script>
    $("#UpdateBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()
        })
            .done(function (response) {
                $("#TableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");

            });
    });


    $("#imaupload").change(function () {
        debugger;
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                debugger;
                console.log(response);

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");

            });
    });

</script>


